{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'header.html' %}

<div class="container mt-3">
    <h1>Our Services</h1>
    <p>At Airline, we strive to provide the best travel experience for our customers. Here are some of the services we offer:</p>
    <ul>
        <li>Flight booking</li>
        <li>Online check-in</li>
        <li>Baggage handling</li>
        <li>Customer support</li>
        <li>Seat selection</li>
        <li>Loyalty programs</li>
    </ul>
    <p>Whether you're traveling for business or pleasure, we're here to make your journey comfortable and hassle-free.</p>
</div>

<style>
    body {
        background-image: url('https://papers.co/wallpaper/papers.co-af22-rc-plane-minimal-blue-art-illust-cute-36-3840x2400-4k-wallpaper.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* Optional: Fixed background */
        /* Add other styles as needed */
    }
</style>
</body>
</html>
